.bgvideo {
    height: 70vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.bgvideo video {
    height: 70vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
}

.video-text, h1 {
    background-color: rgba(181, 175, 255, 0.301);
    color: rgb(57, 0, 190);
    font-size: 70px;
    font-family: BUD pixel;
    z-index: 2;
    margin: 0;
    padding: 10px;
    border-radius: 0 30px 0 30px;
}