body {
    background: rgb(11, 3, 26);
    font-family: Unispace;
}

p {
    color: #dbdbdb;
}

.nav-link {
    color: rgb(145, 99, 252);
}

.navbar-nav .nav-link.active {
    color: rgb(141, 141, 141);
}

.nav-img img {
    padding: 0px;
    margin: 0px;
}

.navbar-brand img {
    width: 50px;
    padding: 0;
}

.navbar-toggler {
    background-color: rgb(161, 161, 161);
}

.sidebar {
    color: #dbdbdb;
    background: rgba(31, 8, 66, 0.418);
    border-radius: 5%;
}

.card {
    background: rgba(31, 8, 66, 0.418);
    color: #dbdbdb;
    box-shadow: 0 0 20px 0px #8a36f7;
}

.card a {
    text-decoration: none;
    color: #dbdbdb;
}

.card .btn {
    color: #dbdbdb;
}

.list-img img {
    width: 100%;
    border-radius: 10%;
}

footer {
    background-color: rgba(0, 0, 0, 0.603);
    margin-top: 40px;
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-text,
.footer-text {
    color: #dbdbdb;
    margin: auto auto;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}